streamlit==1.32.2

# LangChain core
langchain==0.1.16
langchain-core==0.1.45
langchain-community==0.0.34
langchain-text-splitters==0.0.1
langchain-huggingface
langchain-pinecone
langchain-groq

# Vector DB
pinecone-client==3.2.2

# Embeddings & LLM (LET PIP DECIDE COMPATIBLE VERSIONS)
sentence-transformers
transformers
torch
huggingface-hub

# Document loader
pypdf

# Utils
python-dotenv
tqdm
numpy